.chat {
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.chat .messages {
  overflow-y: scroll;
  flex: 1;
}

.chat .messages::-webkit-scrollbar {
  display: none;
}
