img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.myMessage {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.myMessage .left {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 240px;
}

.myMessage .left .content {
  background: linear-gradient(135deg, rgb(71, 140, 213), rgb(24, 143, 187));
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.myMessage .left .content p {
  color: white;
}

.myMessage .left .message-img {
  width: 100px;
  height: 100px;
  border-radius: 0.25rem;
  background: #212121;
}

.myMessage .left .time {
  font-size: 12px;
  margin-left: 8px;
  color: #444;
  display: flex;
  gap: 0.5rem;
}

.myMessage .left .time p {
  cursor: pointer;
}
